* {
    background-color: yellow;
}
h1 {
    background-color: blue;
}
p.fondoazul {
    background-color: blue;
}
p#verde{
    background-color: green;
}
footer {
    border-width:10px;
    border-color: blue;
    border-style: dotted;
}
footer p{
    color: rgb(255, 1, 200);
}
footer li{
    background-color: rgba(0, 0, 0, 0.74);
    color: rgb(0, 255, 234) ;
}